html,
  { background-color: #000000;}
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 1rem;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

#root {
  display: grid;
}

.main-box {
  margin: auto;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

h1 {
  color: #ffffff;
  text-align: center;
}

h3 {
  color: #ffffff;
}

img {align: center}

p {
  color: #ffffff;
}

body {
  color: #ffffff;
}

header {
  font-size: 2rem;
  padding: 20px;
  background-color: #990000;
  color: white;
}

.blink{
color: green;
}
.a1, .a2{
animation:blinking 1.5s infinite;
font-size: 20px;
}
@keyframes blinking{
0%{   color: red;   }
47%{   color: #000; }
62%{   color: transparent; }
97%{   color:transparent; }
100%{  color: #000;   }
}

#dialog {
  display: flex;
  flex-direction: column;
  width: 500px;
  border: 4px solid #990000;
  border-radius: 3px;   
}

#content {}
  display: flex; 
  flex-direction: column; 
  padding: 20px; 


#footer {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
  align-items: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0px 10px 20px 10px;
}

.button {
  margin-top: 0px;
  margin-bottom: 5px;
  color: #445154;
  font-size: 1rem;
  padding: 20px;
  background-color: white;
  border-radius: 3px;
  border: solid 4px #990000;
  outline: none;
  cursor: pointer;
  transition: 0.2s;
}
.button:hover {
  color: white;
  background-color: #8aa2a8;
}
.button:active {
  margin-top: 5px;
  margin-bottom: 0px;
}

#transfer-inputs input[type="number"] {
  width: 15px;  
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-left: none;
  outline: none;
  margin-right: 5px;
  font-size: 1rem;
  margin-top: 0px;
  margin-bottom: 5px;
  text-align: right;
}

#public-token {
  word-break: break-word;
}
#public-token-copy,
#public-token-copy__copied {
  float: right;
  text-align: center;
  margin: 15px 10px;
  padding: 5px;
  cursor: pointer;
  transition: 0.2s;
}
#public-token-copy:hover {
  border-radius: 3px;
  color: white;
  background-color: #990000;
}

.text-align-center {
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  font-style: italic;
}

#tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: none;
  color: #990000;
  margin: 0px;
  transition: 0.3s;
}

#tabs div {
  width: 80%;
  padding: 20px;
  margin: 0px 10px;
  border: solid 3px #990000;
  border-bottom: none;
  text-align: center;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  cursor: pointer;
}

#tabs div.active {
  background-color: #990000;
  color: white;
}

#transfer-inputs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 50px 50px 50px 50px;
}

  #transfer-inputs input[type="text"] {
  padding: 1px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: solid 4px #490000;    
  outline: none;
  font-size: 1rem;
  border-right: none;
  margin-top: 0px;
  margin-bottom: 5px;
}



.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 8px;
  background-color: #990000;
  padding: 14px;
}

.grid-container > div {
  background-color: #8aa2a8;
  border: 1px solid black;
  text-align: center;
  font-size: 20px;
}

body {
 background: #111;
 font-family: "Open Sans",  Impact;
}

.area {
  text-align: center;
  font-size: 1.5em;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
  animation: blur 2.75s ease-out infinite;
  text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
}

@keyframes blur {
  from {
    text-shadow:0px 0px 10px #fff,
      0px 0px 10px #fff, 
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #7B96B8,
      0px 0px 150px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px -10px 100px #7B96B8,
      0px -10px 100px #7B96B8;
  }
}

/* Removes arrows in input number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
